.section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
  padding: var(--margin);
  min-height: 100vh;
}

.content {
  grid-column: span 8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}

.topContent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--gap);
}

.topContent > h1 {
  grid-column: span 8;
}

.bottomContent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--gap);
}

.imageContainer {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: top right;
}

.infoRow {
  grid-column: span 8;
  display: grid;
  grid-template-columns: subgrid;
}

.label {
  grid-column: span 2;
  text-transform: uppercase;
  color: #7f7f7f;
}

.infoRow > p:not(.label) {
  grid-column: span 6;
}
