/* Footer Component Styles */

.footer {
  width: 100%;
  max-width: 100%;
  padding: var(--margin);
  padding-bottom: var(--small);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.footer a {
  color: var(--white);
  text-decoration: none;
  letter-spacing: -0.01em;
}

/* Mobile styles */
@media (max-width: 430.98px) {
  .footer img {
    filter: invert(1);
  }
}
