@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Breakpoints */
  --mobile: 360px;
  --phablet: 430px;
  --tablet: 600px;
  --laptop: 1024px;
  --desktop: 1350px;
  --ultrawide: 1660px;

  /* Units */
  --tiniest: 4px;
  --tinier: 8px;
  --tiny: 12px;
  --smallest: 16px;
  --smaller: 24px;
  --small: 32px;
  --big: 48px;
  --bigger: 64px;
  --biggest: 96px;
  --huge: 128px;
  --huger: 160px;
  --hugest: 200px;

  /* Misc. */
  --border-radius: var(--tiniest);
  --text-indent: var(--bigger);

  --grid-margin: var(--smallest);
  --grid-gap: var(--tinier);

  --grid-mobile-columns: 12;
  --grid-mobile-margin: var(--smallest);
  --grid-mobile-gutter: var(--tinier);

  --grid-phablet-columns: 12;
  --grid-phablet-margins: var(--smallest);
  --grid-phablet-gutter: var(--tinier);

  --grid-tablet-columns: 12;
  --grid-tablet-margin: var(--small);
  --grid-tablet-gutter: var(--tinier);

  --grid-laptop-columns: 12;
  --grid-laptop-margin: var(--big);
  --grid-laptop-gutter: var(--tinier);

  --grid-desktop-columns: 12;
  --grid-desktop-margin: var(--bigger);
  --grid-desktop-gutter: var(--tinier);

  --grid-ultrawide-columns: 12;
  --grid-ultrawide-margin: var(--bigger);
  --grid-ultrawide-gutter: var(--tinier);

  /* easings */
  --ease-out-quart: cubic-bezier(0.22, 1, 0.44, 1);

  --transition-function: var(--ease-out-quart);
  --transition-time: 800ms;
  --transition: var(--transition-time) var(--transition-function);
  --transition-fast-time: 250ms;
  --transition-fast: var(--transition-fast-time) var(--transition-function);
  --transition-page-delay: 300ms;
}

@media (min-width: var(--ultrawide)) {
  :root {
    --tiniest: clamp(4px, 0.24vw, 6px);
    --tinier: clamp(8px, 0.48vw, 12px);
    --tiny: clamp(12px, 0.72vw, 18px);
    --smallest: clamp(16px, 0.96vw, 24px);
    --smaller: clamp(24px, 1.45vw, 36px);
    --small: clamp(32px, 1.93vw, 48px);
    --big: clamp(48px, 2.89vw, 72px);
    --bigger: clamp(64px, 3.86vw, 96px);
    --biggest: clamp(96px, 5.78vw, 144px);
    --huge: clamp(128px, 7.71vw, 192px);
    --huger: clamp(160px, 9.64vw, 240px);
    --hugest: clamp(200px, 12.05vw, 300px);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
